@model LabBill

<h2 style="text-align:center">Hospital Lab Bill</h2>

<hr />

<p><b>Bill ID:</b> @Model.BillId</p>
<p><b>Patient:</b> @Model.PatientName</p>
<p><b>Date:</b> @Model.CreatedAt</p>

<hr />

<h3>Total Amount: ₹ @Model.TotalAmount</h3>

<br />
<p>Thank you for visiting.</p>