html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
/*  focus highlight from navbar brand */
.navbar-brand:focus,
.navbar-brand:active,
.navbar-brand:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

/*  nav-link focus highlight */
.nav-link:focus,
.nav-link:active,
.nav-link:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

@media print {

    /* Remove modal background & overlay */
    .modal,
    .modal-dialog,
    .modal-content {
        all: unset !important;
    }

    /* Hide everything */
    body * {
        visibility: hidden;
    }

    /* Show only bill content */
    #billPrintArea,
    #billPrintArea * {
        visibility: visible;
    }

    /* Proper positioning */
    #billPrintArea {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 30px;
        background: white;
    }

    /* Prevent extra blank page */
    html, body {
        height: auto !important;
    }
}
